<nav role="search" style="margin-bottom: .3em">
    <form action="/" method="get">
        <label for="change-location">Enter a city, place, or zipcode</label>
        <span class="flex wrap" style="margin-bottom: .5em">
        <input type="text" id="change-location" name="location" placeholder="New York, NY" />
            <button class="btn" type="submit">Change location</button>
        </span>
    </form>
</nav>