<nav class="m-b-1">
  <h2 class="sr-only">Change location</h2>
  <form action="/" method="get">
    <label for="change-location">Enter a city, place, or zipcode</label>
    <span class="flex wrap m-b-xs">
      <input type="search" id="change-location" name="location" placeholder="New York, NY" />
      <button class="btn large" type="submit">Change location</button>
    </span>
  </form>
</nav>
