<footer>
  <nav>
    <ul class="flex wrap small">
      <li class="p-a-1">
        <a href="https://github.com/JulianNorton/weather-10kb" rel="noopener nofollow noreferrer author" target="_blank" title="Link opens in a new window" class="target-blank">wxkb Github</a>
      </li>
      <li class="p-a-1">
        <a href="https://darksky.net/dev" rel="noopener nofollow noreferrer" target="_blank" title="Link opens in a new window" class="target-blank">Powered by Dark Sky</a>
      </li>
    </ul>
  </nav>
  <%# wxkb.io was orginally created by by Julian Norton and Ryan Williams licensed under GPL-2.0 %>
</footer>
