<title>☀ 40°f</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="language" content="english">
<meta name="description" content="Forecast hourly">
<meta property="og:email" content="julian@juliannorton.com">
<meta name="robots" content="Index, follow">
<link rel="stylesheet" type="text/css" href="/style/main.css" />

