<nav class="m-a-1" role="navigation">
  <ul class="navigation-main">
    <li>New York, NY</li>
    <li>
      <small><a href="#">Change location</a></small>
    </li>
    <li class="pull-right">
      <span style="display: inline-block;" class="temp-scale active">°F</span>
      <span style="display: inline-block; color: #777; margin: 0 .3em;">|</span>
      <a style="display: inline-block" href="#" class="temp-scale">°C</a>
    </li>
  </ul>
</nav>