<nav class="m-a-1" role="navigation">
  <ul class="navigation-main">
    <li>New York, NY</li>
    <li>
      <small><a href="#">Change location</a></small>
    </li>
    <li>
      <strong class="nav-item" title="Current degree units">°F</strong>
      <a href="#" class="nav-item" title="Change units Celsius">°C</a>
    </li>
  </ul>
</nav>