<ul class="flex wrap m-b-xs small center-h">
  <li class="p-a-1">
    <% if (params.units === 'us') { %>
      °F, mph
    <% } else { %>
      <a href="/<%= params.locationSearch %>?units=us">°F, mph</a>
    <% } %>
  </li>
  <li class="p-a-1">
    <% if (params.units === 'ca') { %>
      °C, km/h
    <% } else { %>
      <a href="/<%= params.locationSearch %>?units=ca">°C, km/h</a>
    <% } %>
  </li>
  <li class="p-a-1">
    <% if (params.units === 'si') { %>
      °C, m/s
    <% } else { %>
      <a href="/<%= params.locationSearch %>?units=si">°C, m/s</a>
    <% } %>
  </li>
  <li class="p-a-1">
    <% if (params.units === 'uk2') { %>
      °C, mph
    <% } else { %>
      <a href="/<%= params.locationSearch %>?units=uk2">°C, mph</a>
    <% } %>
  </li>
</ul>
