html {
    /* Prevent adjustments of font size after orientation changes in IE and iOS. */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
        "Fira Sans", "Droid Sans", "Helvetica Neue", 
        sans-serif;
    margin: 0;
    font-size: calc(1em + 1vw);
}

body * + * {
    margin-top: 1.5rem;
}

.p-a-1 > * {
    padding: 1em;
}

.m-a-0 {
    margin: 0;
}

.m-a-1 {
    margin: 1em;
}
.navigation-main {
    padding: 0;
}

.navigation-main li {
    display: inline-block;
    padding: .2em;
    vertical-align: middle;
    margin: 0;
}

h1 {
    font-weight: 700;
}

.grid {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-flow: row wrap;
}

.grid > * {
    flex-basis: 10em;
    flex-grow: 1;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}