html {
    /* Prevent adjustments of font size after orientation changes in IE and iOS. */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
   box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*removed small */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, 
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
        "Fira Sans", "Droid Sans", "Helvetica Neue", 
        sans-serif;
    margin: 0;
    font-size: 16px;
    font-size: calc(1em + .5vw);
    background: #FDFFFC;
}

/*body * + * {
    margin-top: 1.5rem;
}*/

.p-a-1 > * {
    padding: 1em;
}

.m-a-0 {
    margin: 0;
}

.m-a-1 {
    margin: 1em;
}

.navigation-main {
    padding: 0;
}

.navigation-main li {
    display: inline-block;
    padding: .2em;
    vertical-align: middle;
    margin: 0;
}

h1,h2,h3,h4,h5,h6, .active {
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6, p {
    margin-bottom: .3em;
}

.grid {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-flow: row wrap;
}

.grid > * {
    flex-basis: 20em;
    flex-grow: 1;
}

.forecast-primary {
    
}

.forecast-primary {
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: .4em;
    padding-bottom: .4em;    
}

/*card-separator*/
ul.forecast-secondary li {
    border-bottom: 1px solid rgb(220,220,220);
    margin-bottom: .5em;
    padding-bottom: .5em;    
}

ul.forecast-secondary li:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}


.status-primary {
    font-size: 3em;
    font-weight: 200;
    display: inline-block;
}

.status-subtitle {
    font-family: Georgia, serif;
    font-size: .9em;
    width: 100%;
    margin-top: .4em;
}

.card {
    background-color: white;
    border: 1px solid lightgray;
    padding: .66em;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(77,77,77, .5)
}

.data-secondary {
    font-size: .8em;
    color: #555;
}

.data-secondary {
    margin-right: .2rem;
    display: inline-block
}

.pull-right {
    float: right;
}

dl > * {
    display: inline-block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}