/*scratch pad

clear-day
    #F5A623
clear night
    #1E256C
cloudy, fog
    #36383C
cloud-drizzle
    #36383C
    #4990E2
hail
    #36383C
    #2B598E
party-cloudy-day
    #36383c
    #F5A623
party-cloudy-night
    #1E256C
    #36383C
rain
    #36383C
    #4990E2
sleet
    #36383C
    #2B598E
snow
    #36383C
    #4990E2
thunderstorm
    #36383C
    #F2E000
tornado
    #003952
wind
    #6F8F9D
*/

html {
    /* Prevent adjustments of font size after orientation changes in IE and iOS. */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

a {
    transition: opacity 125ms ease-in-out;
}

a:hover {
    opacity: .8;
    /*text-shadow: 1px 1px 2px red;*/
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

/*removed small, strong */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

/*blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}*/

/*table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/
body {
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
    margin: 0;
    font-size: 16px;
    font-size: calc(1em + .5vw);
    background: #FDFFFC;
}

/*body * + * {
margin-top: 1.5rem;
}*/


.navigation {
    padding: 0;
}

.navigation li {
    display: inline-block;
    padding: .2em;
    vertical-align: middle;
    margin: 0;
}

h1,h2,h3,h4,h5,h6, .active {
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6, p {
    margin-bottom: .3em;
}

/*.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
}*/

/*.grid {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-flow: row wrap;
}

.grid > * {
    flex-basis: 20em;
    flex-grow: 1;
}*/

.forecast-primary {

}

.forecast-primary {
    border-bottom: 1px solid rgba(220,220,220, .5);
    margin-bottom: .66em;
    padding-bottom: .66em;    
}

/*card-separator*/
.forecast-secondary li {
    border-bottom: 1px solid rgba(220,220,220, .5);
    margin-bottom: .66em;
    padding-bottom: .66em;    
}

.forecast-secondary li:nth-child(odd) {
    /*background: red;*/
}

.forecast-secondary li:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.status-primary {
    font-size: 3em;
    font-weight: 200;
    display: inline-block;
}

.status-icon {
    height: 64px;
    width: auto;
    vertical-align: -10%;
}

.status-subtitle {
    /*font-family: Georgia, serif;*/
    font-size: .9em;
    width: 100%;
    margin-top: .4em;
}

.card {
    max-width: 60rem;
    background-color: white;
    /* remove border and add another box shadow ? */
    /* box-shadow: 0 1px 1px rgba(77,77,77, .5), 0 0 1px rgba(77,77,77, .5) */
    border: 1px solid lightgray;
    padding: .66em;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(77,77,77, .5)
}

.data-secondary {
    font-size: .8em;
    color: #555;
    margin-right: .2rem;
    /*display: inline-block*/
}

.time {
    min-width: 4em;
}

/* ---------------------------------------- */
/* Utilities */


.p-a-1 {
    padding: 1em;
}

.m-a-0 {
    margin: 0;
}

.nav-item {
    padding: .125em;
    margin: .125em;
}

.m-a-1 {
    margin: 1em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}