/* ---------------------------------------- */
/* Variables */

// Hex instead of RGBA for ie8 support
$text-secondary: #555;
// rgba for non-critical styling

$gray-lighter: rgba(220,220,220, .5);
$gray-lightest: rgba(220,220,220, .2);

$fallback-unit-spacing: 8px;
$unit-spacing: .5rem;

$box-shadow: 0 1px 1px rgba(77,77,77, .3);

$font-larger: 1.2em;
$font-smaller: .9em;

/* ---------------------------------------- */
/* Resets */

html {
    // Prevent adjustments of font size after orientation changes in IE and iOS. */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

a {
    transition: opacity 125ms ease-in-out;
}

a:hover {
    opacity: .8;
    /*text-shadow: 1px 1px 2px red;*/
}

html, body, div, span, article, header, footer, ol, ul, li, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;

    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(255,255,255, .2) , rgba(255,255,255, .66)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(255,255,255, .2) , rgba(255,255,255, .66)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

ol, ul {
    list-style: none;
}

body {
    line-height: 1.25;
    // Default system fonts in different operating systems
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    font-size: 16px;
    font-size: calc(1em + .5vw);
    background: $gray-lightest;

    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
        
}

/* ---------------------------------------- */
/* type */

// h1,h2,h3,h4,h5,h6, .active {
//     font-weight: 700;
// }

h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: .3em;
}


/* ---------------------------------------- */
/* structural  */

.container {
    max-width: 55rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

.justify {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/* ---------------------------------------- */
/* components */

/* Navigation  */
.navigation {
    padding: 0;
}

.card {
    // background-color: white;
    border: 1px solid $gray-lighter;
    padding: .66em;
    border-radius: 2px;
    box-shadow: $box-shadow;
}

.forecast-primary {
    border-bottom: 1px solid rgba(220,220,220, .5);
    margin-bottom: .66em;
    padding-bottom: .66em;    
}

/* card-separator */
.forecast-secondary li {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: .66em;
    padding-bottom: .66em;    
}

.forecast-secondary li .data-secondary {
    display: inline-block;
    min-width: 2.5em;
}

.forecast-secondary li:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}

.status-icon {
    width: 1.5rem;
  // background: #fff;
  // margin: 0 auto;
}

.status-primary {
    font-size: 3em;
    font-weight: 200;
}

.status-subtitle {
    font-size: $font-smaller;
    width: 100%;
    margin-top: .4em;
    margin-bottom: 0;
}

.data-primary {
    font-size: $font-larger;
}

.data-secondary {
    font-size: $font-smaller;
    color: $text-secondary;
}

h3.data-secondary {
    font-weight: normal;
}

/* ---------------------------------------- */
/* Utilities */

.p-a-1 {
    padding: $fallback-unit-spacing;
    padding: $unit-spacing;

}

// .m-a-0 {
//     margin: 0;
// }

.m-a-1 {
    margin: $fallback-unit-spacing;
    margin: $unit-spacing;

}

// .m-y-1 {
//     margin-top: 1em;
//     margin-bottom: 1em;
// }

.m-x-1 {
    margin: $fallback-unit-spacing;
    margin: $unit-spacing;

}

.nowrap {
    white-space: nowrap;
}


/* Colors  */

.sun {
    fill: #F5A623
}

.moon {
    fill: #1E256C
}

// cloudy & fog
.cloud {
    fill: #36383C;
}

// rain, drizzle, snow
.rain {
    fill: #4990E2;
}

// sleet, hail
.hail {
    fill: #2B598E;
}

.wind {
    fill: #6F8F9D;
}

.tornado {
    fill: #003952;
}

.bolt {
    fill: #F2E000;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* ---------------------------------------- */
/* Unusued */

// .container {
//     margin-left: 1em;
//     margin-right: 1em;
//     display: flex;
//     flex-flow: row wrap;
// }

// .container > * {
//     flex-basis: 20em;
//     flex-grow: 1;
// }


/*body * + * {
margin-top: 1.5rem;
}*/

