.card {
  background: $white; // fallback for old browsers
  box-shadow: $box-shadow;
  margin-bottom: $unit-spacing;

  @media (min-width: 481px){
    border-radius: 2px;
    margin-left: $unit-spacing;
    margin-right: $unit-spacing;
  }
}

.card-block {
  padding: $unit-spacing;
  border: $border;
}

.card-alert {
  color: $red;
  background: lighten($red, 50%);
  border-color: $red;
}
