// rule sets for windows high contrast mode

@media (-ms-high-contrast: active) {
  *,
  body {
    background: $black !important;
    color: $white !important;
    font-size: 32px;
    font-size: 2rem;
  }

  a,
  button,
  input {
    color: $cyan !important; // cyan
    text-decoration: underline !important;
    text-shadow: none !important;
  }

  button,
  input {
    border: 1px solid $cyan !important;
  }

  a:hover,
  a:focus,
  button:hover,
  button:focus {
    color: $neon-green !important; // neon green
  }

  svg {
    display: none;
  }
}
