body {
// Default system fonts in different operating systems
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px; // fallback
  font-size: calc(1em + .5vw);
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: .3em;
  margin-top: 0;
}

.small {
  font-size: $font-smaller;
}

.large {
  font-size: $font-larger;
}

.muted {
  color: $text-secondary;
  font-weight: normal;
}

.small-caps {
  font-variant: small-caps;
}

a,
a:visited {
  border-bottom: 1px dotted $brand-primary;
  color: $brand-primary;
  text-decoration: none;
  // tasteful descenders
  text-shadow: -1px -1px 0 $text-shadow, // left top
        1px -1px 0 $text-shadow, // right top
        -1px 1px 0 $text-shadow, // left bottom
        1px 1px 0 $text-shadow, // right bottom
        0 2px 0 $text-shadow; // bottom bottom
  transition: all linear 125ms;
  transition-property: box-shadow, color, border-bottom;
 }

 a:hover,
 a:active,
 a:focus {
  border-bottom: 1px solid $brand-primary-darker;
  // box-shadow: 0px 1px 1px red;
  color: $brand-primary-darker;
}
