// flex utilities

.flex {
  display: flex;
  align-items: flex-start;
}

.f-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  align-self: center;
}

.center-h {
  justify-content: center;
}

// spacing utilties

.p-a-1 {
  padding: $unit-spacing;

}

.m-a-1 {
  margin: $unit-spacing;
}

.m-x-1 {
  margin-left: $unit-spacing;
  margin-right: $unit-spacing;
}

.m-b-1 {
  margin-bottom: $unit-spacing;
}

.m-b-xs {
  margin-bottom: $unit-spacing / 2;
}

.nowrap {
  white-space: nowrap;
}

// Accessibility

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
