<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="language" content="english">
    <meta property="og:email" content="julian@juliannorton.com">
    <style><%- include('../../public/style/main.css') %></style>
  </head>

  <body>
    <div class="container">
      <article class="m-a-1 card">
        <header>
          <p class="data-secondary"><%= error %></p>
        </header>
      </article>
    </div>
  </body>
</html>
