<!DOCTYPE html>
<html lang="en">
  <head>
    <title>wxkb.io | <%= error %></title>
    <%- include('../partials/head')%>
  </head>
  <body style="background: #36383C" class="container">
    <main>
      <article class="m-a-1 card card-block">
        <h1 style="color: #1E256C"><%= error %></h1>
        <%- include('../partials/change-location')%>
        <h5>Try <a href="/new%20york,%20ny"><strong>New York, NY</strong></a></h5>
      </article>
    </main>
  </body>
</html>
